<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Good-vue</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  </head>
  <body>
    <div class="container">
      <template v-for="(item, index) in items">
        <div class="item" v-if="defer(index)" :key="item.id" :data-id="item.id"></div>
      </template>
    </div>

    <script>
      const { createApp, ref } = Vue
      const items = ref([])
      const defer = useDeferred()

      createApp({
        setup() {
          return {
            items,
            defer
          }
        },
        mounted() {
          const renderChunks = (datas, size = 100) => {
            const renderChunk = deadline => {
              while (
                datas.length > 0 &&
                (deadline.timeRemaining() > 0 || deadline.didTimeout)
              ) {
                // 分块处理数据
                this.items.push(...datas.splice(0, size))
              }
              if (datas.length > 0) {
                requestIdleCallback(renderChunk)
              }
            }
            requestIdleCallback(renderChunk)
          }

          fetchDatas().then(datas => {
            renderChunks(datas, 1000)
          })
        }
      }).mount('.container')


      async function fetchDatas() {
        const response = await fetch('//localhost:3001/datas') //localhost:3001/datas?_limit=100
        return await response.json()
      }
      // _____________

      /**
       * 使用 useDeferred 函数来延迟执行某些操作。
       * 这个函数通常用于在 Vue.js 组件中处理异步任务。
       *
       * @returns {Function} 包含控制延迟操作的方法。
       */
      function useDeferred() {
        // 当前渲染的是第几帧
        const frameIndex = ref(0)

        /**
         * 更新动画帧的函数。
         *
         * 该函数会增加帧索引值，并请求下一帧的动画更新。
         * 它通过递归调用自身来实现连续的动画更新。
         */
        function updateFrame() {
          // 增加帧索引值
          frameIndex.value++
          // 请求下一帧的动画更新
          if(frameIndex.value < 100) {
            requestAnimationFrame(updateFrame)
          }
        }

        updateFrame()

        /**
         * 延迟执行某些操作。
         *
         * @param {number} n 第几个元素
         * @returns {boolean} 是否渲染。
         */
        return function (n) {
          // 当前渲染的是第几帧>=n时，才渲染
          return frameIndex.value * 5000 >= n
        }
      }
    </script>
  </body>
</html>
